.black-ops one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  #pokemonName{

    font-family:"Black Ops One", system-ui;
    font-size: 45px;
    margin-left: 200px;
    color: white;
    
  }

  html {
    background: url(https://images.unsplash.com/photo-1610692567145-2c1fe6bf9c3f?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
  }

  #inputBar{

    width: 250px;
    height: 25px;
    border: outset;
    font-family:"Black Ops One", system-ui;
    font-weight: lighter;
  }

#searchButton{
    border: outset;
    font-family:"Black Ops One", system-ui;
    font-weight: lighter;
    margin-left: 80px;
    margin-top: 20px;
    
}
h1 {
  color: blue;
  
}